# keys
*/**/*.pem
*.pem

# deps
node_modules/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/
*.swp
*.swo

# terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tfvars
*.tfvars.json
